*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

body{
    position: relative;
    background-color: #172025;
    background-image: url(../img/intro/back.svg);
    background-repeat: repeat-x;
    background-position: top;
    overflow: hidden;
}

/* 
######################## 
MARCO
######################## 
*/
#marco{
	position:absolute;
	width:1060px;
	height:560px;
	border-radius:10px 10px 0 0;
	box-shadow:0px 5px 10px black;
	background:#172025;
	top:-30px;
	left:50%;
	margin-left:-530px;
}

/* 
######################## 
CONTENEDOR
######################## 
*/
#contenedor{
	position:relative;
	margin:5vh auto;
	width:1000px;
	height:500px;
	background:white;
}
/* 
######################## 
FOOTER
######################## 
*/
footer{
    position: relative;
    padding: 8px;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 5);
    font-size: 12px;
    color: #a0a1a2;
}

footer a{
    color: white;
}



/* ********************************
PRELOAD
******************************** */
#carga{
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 1000px;
    height: 500px;
    background: black;
    text-align: center;
    font-size: 40px;
    color: white;
    opacity: 1;
    transition: opacity 1s ease;
    font-family: "Patrick Hand", cursive;
}

#preload{
    padding-top: 17%;
}

/* ********************************
GAME OVER
******************************** */
#gameOver{
    position: absolute;
    display: none;
    top: 60px;
    left: 0;
    height: calc(100% - 60px);
    width: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.52);
    font-family: "Patrick Hand", cursive;
    color: white;
}

#gameOver h1{
    line-height: 440px;
    text-align: center;
}

/* ********************************
FINAL NIVEL
******************************** */
#final{
    display: none;
    position: absolute;
    top:0px;
    left:0px;
    height: 500px;
    width: 1000px;
    z-index:1;
    background: rgba(0, 0, 0, 0.9);
    font-family: "Patrick Hand", cursive;
    color: white;
}

#final h1{
    margin-top: 2px;
    text-align: center;
    font-size: 55px;
}

#final ul{
    position: absolute;
    width: 80%;
    height: 200px;
    top:50%;
    left: 10%;
}

#final ul li{
    float: left;
    padding: 20px 0;
    height: 150px;
    width: 30%;
    margin: 0px 1%;
    text-align: center;
    font-size: medium;
    background: rgba(100,0,0,0.5);
    border-radius: 20px;
}

#final #spriteMonedasFinal{
    position: relative;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    background-image: url(../img/utileria/monedas.png);
    background-position: 0px;
    background-size: cover;
}

#final ul li ol li{
    background: rgba(0, 0, 0, 0);
    height: 45px;
}

#final ul li ol li img{
    width: 60%;
}